In [41]:
import pandas as pd, numpy as np
from sklearn.ensemble import RandomForestRegressor

In [54]:
wr = pd.read_csv("wr.csv", header=0)
wr.head()

,Rk,Player,Pos,Week,Team,Opp,Targets,Rec,Pct,Yds,TD,Long,Yds/Target,Yds/Rec,Rush,RushYds,RushTD,Fum,Lost,FantasyPoints
0,1,Julio Jones,WR,1,ATL,PHI,11,9,82,141,2,44,13,16,0,0,0,0,0,38.1
1,2,Keenan Allen,WR,1,SD,DET,17,15,88,166,0,21,10,11,0,0,0,0,0,34.6
2,3,DeAndre Hopkins,WR,1,HOU,KC,13,9,69,98,2,17,8,11,0,0,0,0,0,32.8
3,4,Antonio Brown,WR,1,PIT,NE,11,9,82,133,1,37,12,15,0,0,0,0,0,31.3
4,5,Jordan Matthews,WR,1,PHI,ATL,13,10,77,102,0,25,8,10,0,0,0,0,0,23.2

In [55]:
vegas = pd.read_csv("vegas_lines.csv", header=0)
vegas.opening_spread = vegas.opening_spread.fillna(vegas.closing_spread)
vegas.opening_OU = vegas.opening_OU.fillna(vegas.closing_OU)
vegas = vegas.replace("PK", 0)
vegas.head()

,team,week,home/away,opening_spread,closing_spread,opening_OU,closing_OU,spread_pct,ML_pct,over_pct,total_wins,total_losses,HA_wins,HA_losses,streak
0,New England Patriots,1,home,-7,-7,51.0,51.0,64,66,69,0,0,0,0,-1
1,Pittsburgh Steelers,1,away,7,7,51.0,51.0,36,34,69,0,0,0,0,-2
2,Chicago Bears,1,home,4,6.5,50.0,48.5,22,25,79,0,0,0,0,1
3,Green Bay Packers,1,away,-4,-6.5,50.0,48.5,78,75,79,0,0,0,0,1
4,Houston Texans,1,home,4,1,-1.5,40.5,42,41,32,0,0,0,0,-1

In [56]:
dst = pd.read_csv('dst.csv', header=0)
dst.head()

,Rk,Player,Pos,Week,Team,Opp,TFL,Sacks,QBHits,Int,FumRec,Safeties,DefTD,ReturnTD,PtsAllowed,FantasyPoints
0,1,Carolina Panthers,DST,1,CAR,JAX,8,5,6,2,1,0,1,0,9,21.0
1,2,Seattle Seahawks,DST,1,SEA,LA,7,2,7,0,3,0,1,1,34,19.0
2,3,New York Jets,DST,1,NYJ,CLE,3,3,3,1,4,0,0,0,10,17.0
3,4,Denver Broncos,DST,1,DEN,BAL,7,2,9,2,0,0,1,0,13,16.0
4,5,Baltimore Ravens,DST,1,BAL,DEN,8,4,5,1,0,0,1,0,19,16.0

In [57]:
teams = dst[dst.Week == 1]['Player Team'.split()]
teams.columns = ['team_name', 'Team']
teams

               team_name Team
0      Carolina Panthers  CAR
1       Seattle Seahawks  SEA
2          New York Jets  NYJ
3         Denver Broncos  DEN
4       Baltimore Ravens  BAL
5       Tennessee Titans  TEN
6         Miami Dolphins  MIA
7       Los Angeles Rams   LA
8    San Francisco 49ers   SF
9          Detroit Lions  DET
10       New York Giants  NYG
11    Cincinnati Bengals  CIN
12    Kansas City Chiefs   KC
13         Buffalo Bills  BUF
14  Jacksonville Jaguars  JAX
15   Washington Redskins  WAS
16     Minnesota Vikings  MIN
17  New England Patriots   NE
18     Arizona Cardinals  ARI
19   Philadelphia Eagles  PHI
20    San Diego Chargers   SD
21       Atlanta Falcons  ATL
22     Green Bay Packers   GB
23        Houston Texans  HOU
24        Dallas Cowboys  DAL
25   Pittsburgh Steelers  PIT
26      Cleveland Browns  CLE
27    New Orleans Saints   NO
28       Oakland Raiders  OAK
29    Indianapolis Colts  IND
30  Tampa Bay Buccaneers   TB
31         Chicago Bears  CHI

In [59]:
wr = wr.join(teams, on='Team', lsuffix='_0', how="left")
wr.head(20)

,Rk,Player,Pos,Week,Team_0,Opp,Targets,Rec,Pct,Yds,...,Rush,RushYds,RushTD,Fum,Lost,FantasyPoints,team_name_0,Team_0,team_name,Team
0,1.0,Julio Jones,WR,1.0,ATL,PHI,11.0,9.0,82.0,141.0,...,0.0,0.0,0.0,0.0,0.0,38.1,NaN,NaN,NaN,NaN
30,31.0,Roddy White,WR,1.0,ATL,PHI,8.0,4.0,50.0,84.0,...,0.0,0.0,0.0,0.0,0.0,12.4,NaN,NaN,NaN,NaN
56,7.0,Julio Jones,WR,2.0,ATL,NYG,15.0,13.0,87.0,135.0,...,0.0,0.0,0.0,0.0,0.0,29.5,NaN,NaN,NaN,NaN
72,23.0,Leonard Hankerson,WR,2.0,ATL,NYG,11.0,6.0,55.0,77.0,...,0.0,0.0,0.0,0.0,0.0,19.7,NaN,NaN,NaN,NaN
102,3.0,Julio Jones,WR,3.0,ATL,DAL,20.0,12.0,60.0,164.0,...,0.0,0.0,0.0,0.0,0.0,43.4,NaN,NaN,NaN,NaN
155,6.0,Leonard Hankerson,WR,4.0,ATL,HOU,8.0,6.0,75.0,103.0,...,0.0,0.0,0.0,0.0,0.0,25.3,NaN,NaN,NaN,NaN
213,14.0,Julio Jones,WR,5.0,ATL,WAS,10.0,5.0,50.0,67.0,...,0.0,0.0,1.0,1.0,0.0,17.7,NaN,NaN,NaN,NaN
278,29.0,Julio Jones,WR,6.0,ATL,NO,10.0,6.0,60.0,93.0,...,0.0,0.0,0.0,0.0,0.0,15.3,NaN,NaN,NaN,NaN
287,38.0,Roddy White,WR,6.0,ATL,NO,4.0,3.0,75.0,23.0,...,0.0,0.0,0.0,0.0,0.0,11.3,NaN,NaN,NaN,NaN
306,7.0,Julio Jones,WR,7.0,ATL,TEN,17.0,9.0,53.0,92.0,...,0.0,0.0,0.0,0.0,0.0,24.2,NaN,NaN,NaN,NaN
347,48.0,Roddy White,WR,7.0,ATL,TEN,4.0,3.0,75.0,48.0,...,0.0,0.0,0.0,0.0,0.0,7.8,NaN,NaN,NaN,NaN
351,2.0,Julio Jones,WR,8.0,ATL,TB,13.0,12.0,92.0,162.0,...,0.0,0.0,0.0,1.0,1.0,36.2,NaN,NaN,NaN,NaN
406,7.0,Julio Jones,WR,9.0,ATL,SF,17.0,10.0,59.0,137.0,...,0.0,0.0,0.0,0.0,0.0,26.7,NaN,NaN,NaN,NaN
501,2.0,Julio Jones,WR,11.0,ATL,IND,15.0,9.0,60.0,160.0,...,0.0,0.0,0.0,0.0,0.0,28.0,NaN,NaN,NaN,NaN
525,26.0,Leonard Hankerson,WR,11.0,ATL,IND,7.0,4.0,57.0,36.0,...,0.0,0.0,0.0,0.0,0.0,13.6,NaN,NaN,NaN,NaN
587,38.0,Roddy White,WR,12.0,ATL,MIN,8.0,6.0,75.0,60.0,...,0.0,0.0,0.0,0.0,0.0,12.0,NaN,NaN,NaN,NaN
595,46.0,Nick Williams,WR,12.0,ATL,MIN,4.0,3.0,75.0,16.0,...,0.0,0.0,0.0,0.0,0.0,10.6,NaN,NaN,NaN,NaN
596,47.0,Julio Jones,WR,12.0,ATL,MIN,7.0,5.0,71.0,56.0,...,0.0,0.0,0.0,0.0,0.0,10.6,NaN,NaN,NaN,NaN
620,21.0,Julio Jones,WR,13.0,ATL,TB,17.0,8.0,47.0,93.0,...,0.0,0.0,0.0,0.0,0.0,17.3,NaN,NaN,NaN,NaN
673,24.0,Julio Jones,WR,14.0,ATL,CAR,10.0,7.0,70.0,88.0,...,0.0,0.0,0.0,1.0,0.0,15.8,NaN,NaN,NaN,NaN